/* ===== Button =======*/

.btn.btn-primary {
    color: #fff;
    background-color: #D00A88;
    border-color: #D00A88;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
    color: #fff;
    background-color: #ff44bb;
    border-color: #ff44bb;
    outline: none;
    box-shadow: none;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #ff44bb;
    border-color: #ff44bb;
    outline: none;
    box-shadow: none;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
    color: #fff;
    background-color: #ff44bb;
    border-color: #ff44bb;
    outline: none;
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
    color: #fff;
    background-color: #ff44bb;
    border-color: #ff44bb;
    outline: none;
    box-shadow: none;
}